.project{
    background-color: var(--main-color);
    color: black;
    padding: 2rem;
    border-radius: 3rem;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    min-height: 25vh;
    margin-bottom: 2rem;
}

.project h2{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.project h3{
    font-size: 2.5rem;
    font-weight: 500;
}

.project p{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
}

.project a{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.project a:hover{
    border-bottom: 3px solid black;
}

.project-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1rem;
}

.project-media img, 
.project-media iframe {
    width: 426px;
    height: 240px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    transition: 0.3s ease;
    cursor: pointer;
    object-fit: cover;
}

.project-media img:hover, 
.project-media iframe:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.project ul{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width: 995px) {
    .project-media img, 
    .project-media iframe {
        width: 100%;
        height: 240px;
    }

    .project-media{
        flex-direction: column;
    }

}
