.project{
    background-color: var(--main-color);
    color: black;
    padding: 2rem;
    border-radius: 3rem;
    transition: 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 25vh;
    margin-bottom: 2rem;
    width: 100%;
    gap: 2rem;
    border: 1px solid transparent;
    transition: 0.3s ease;
    cursor: pointer;
}

.project:hover{
    border: 1px solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
}

.project-text h2{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.project-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}

.project-text a{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.project a:hover{
    border-bottom: 3px solid var(--main-color);
}

.project-media{
    border-radius: 1rem;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.project-media:hover{
    transform: scale(1.01);
    box-shadow: 0 0 50px var(--main-color);
}

.project-media img {
    border-radius: 1rem;
    width: 426px;
    height: 240px;
    object-fit: contain;
}


@media (max-width: 995px) {

    .project-media img{
        width: 300px;
        height: 220px;
    }

    .project{
        flex-direction: column;
        gap: 2rem;
    }

    .project-text h2{
        font-size: 2.5rem;
    }

    .project-text h3{
        font-size: 2.5rem;
    }

}
