.project-page{
    background: var(--gradient-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.project-page h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--text-color);
}

.project-listing-image{
    width: 100%;
    height: 34rem;
    aspect-ratio: 16/9;
    border-radius: 1rem;
}

.project-listing-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.project-page-dates, .project-page-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.project-page-date{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color-secondary) !important;
    background-clip: unset !important;
    background-image: unset !important;
}

.project-page-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-page-columns{
    display: grid;
    grid-template-columns: 65% 1fr;
    gap: 4rem;
}

.project-page-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.project-page-section h2{
    color: transparent !important;
    background-clip: text;
    background-image: var(--gradient-primary);
    font-size: 2.5rem;
    font-weight: 700;
}

.project-page-section p{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color-secondary);
}

.project-page-media-image{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    aspect-ratio: 16/9;
}


.project-page-media-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.project-page-media img:hover{
    transform: scale(1.5);
}

.project-page-media iframe{
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 1rem;
}

.project-page-technologies, .project-page-description, .project-page-features, .project-page-media, .project-page-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid var(--glass-border);
    background: var(--glass-bg);
    box-shadow: var(--glass-shadow);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
}

.project-page-technologies ul, .project-page-features ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.project-page-features li{
    color: var(--text-color-secondary);
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.project-page-features li svg {
    color: var(--main-color);
}

.project-page-technologies a{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: var(--glass-bg);
    box-shadow: var(--glass-shadow);
    backdrop-filter: blur(4px);
    border: 1px solid var(--main-color);
}

.project-page-technologies a:hover{
    background: var(--gradient-primary);
    border-color: transparent;
    color: var(--text-color);
}

.project-page-media-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


@media (max-width: 995px) {
    .project-page-columns{
        flex-direction: column;
        gap: 2rem;
    }

    .project-page h1{
        font-size: 2.5rem;
    }

    .project-page-media{
        width: 100%;
        order: 1;
    }

}