.text{
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid var(--border);
}

.text-title {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--dim);
}

.text-content {
  line-height: 1.5;
  white-space: pre-line;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.8);
}