.project-container{
    background: var(--gradient-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;

}
.project-container h1{
    font-size: 4rem;
    font-weight: 700;
}

.project-container p{
    font-size: 1.8rem;
    font-weight: 500;
    width : 60%;
    color: var(--text-color-secondary);
}

.project-list{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 2rem;
    width: 100%;
}


@media (max-width: 995px) {
    .project-container h1{
        font-size: 2.5rem;
    }
    
    .project-container p{
        font-size: 1.3rem;
        width: 100%;
    }

    .project-list{
        grid-template-columns: 1fr;
    }
}