*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: var(--font-poppins);
  user-select: none;
}

:root{
  --bg-color: #000000;
  --second-bg-color: #161616;
  --text-color: #fff;
  --main-color: #ff0000;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

html::webkit-scrollbar{
  width: 0.8rem;
}

html::webkit-scrollbar-track{
  background: var(bg-color);
}

html::webkit-scrollbar-thumb{
  background: var(--main-color);
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

a:visited{
  color: inherit;
}

section {
  min-height: 100vh;
  padding: 120px 9% 5rem;
}



