.education {
    background: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

.education h1 {
    font-size: 4rem;
    font-weight: 700;
}

.education h2{
    font-size: 2.5rem;
}

.education h3{
    font-size: 1.8rem;
    font-weight: 500;
}

.education p{
    font-size: 1.8rem;
    font-weight: 500;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: rgb(90, 64, 64);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
}

.education-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.education-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -15px;
    background-color: rgb(252, 252, 252);
    border: 3px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 100;
}

.education-icon{
    text-align: center;
    position: absolute;
    top: 21.5px;
    z-index: 101;
    width: 25px;
    height: 25px;
    right: -13px;
    color: var(--second-bg-color);
}

.right .education-icon{
    left: -12px;
    right: 0;
}


.right {
    margin-left: auto;
}

.left {
    margin-right: auto;
}

.left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    right: 31px;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}

.right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 10px 10px 0px;
    border-color: transparent var(--main-color) transparent transparent;
}

.right::after {
    left: -15px;
}

.education-text {
    background: var(--main-color);
    position: relative;
    border-radius: 6px;
    color: black;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s ease;
    padding : 2rem;
}

.education-text:hover{
    background: var(--second-bg-color);
    color: var(--main-color);
    border-color: var(--main-color);
}

.education-title {
    font-size: 2.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 600;
}

.education-dates{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.education-description {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.education-description p{
    font-size: 1.3rem;
}

@media (max-width: 995px) {
    .timeline{
        margin-top: 2rem;
    }

    .timeline::after{
        left: 32px;
    }

    .education-container{
        width: 100%;
        padding-left: 8rem;
        padding-right: 2rem;
    }

    .education-container::before{
        left: 61px;
        border: medium solid var(--main-color);
        border-width: 10px 10px 10px 10px;
        border-color: transparent var(--main-color) transparent transparent;
    }

    .education-description {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .education-description p{
        font-size: 1.3rem !important;
    }

    .left::after {
        left: 17px;
    }

    .education-icon{
        left: 18.5px;
    }

    .right .education-icon{
        left: 19px;
    }

    .right::after{
        left: 17px;
    }
    .education h1{
        font-size: 2.5rem;
    }

    .education p{
        font-size: 1.5rem;
    }

    .education-dates{
        font-size: 1.4rem;
    }

    .education-title {
        font-size: 1.6rem;
        padding-top: 1rem;
    }

    .education-text{
        padding: 1rem;
    }

    .education h2{
        font-size: 1.6rem;
    }
    
    .education h3{
        font-size: 1.4rem;
    }
    
}