.services{
    background: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

.services p{
    font-size: 1.8rem;
    font-weight: 500;
}

.services h2{
    font-size: 4rem;
    font-weight: 700;
}

.services-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.service-container{
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 2rem;
}

.service-container:hover{
    background: transparent;
    color: var(--main-color);
    transform: scale(1.03);
    border: 1px solid var(--main-color);
}

.service-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 300px;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    gap: 1.5rem;
}

.service-text h4{
    font-size: 2.5rem;
    font-weight: 500;
}

.service-text p{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
}

.services-btn{
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--second-bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color) !important;
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    outline: none;
    user-select: none;
}
  
  .services-btn:hover{
    transform: scale(1.03);
    background-color: var(--main-color);
    color: black !important;
    box-shadow: 0 0 25px var(--main-color);
  }

@media (max-width: 995px) {

    .services{
        padding-bottom: 7rem;
    }

    .services p{
        font-size: 1.5rem;
    }

    .services h2{
        font-size: 2.5rem;
    }

    .services-container{
        grid-template-columns: repeat(1,1fr);
    }

    .services-btn{
        width: 100%;
        text-align: center;
    }

}