.services{
    background: var(--second-bg-color);
}

.services h2{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.services-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.service-container{
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.service-container:hover{
    background: transparent;
    color: var(--main-color);
    transform: scale(1.03);
    border: 1px solid var(--main-color);
}

.service-container .service-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5rem;
}

.service-text h4{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.service-text p{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    margin: auto;
}

@media (max-width: 995px) {

    .services{
        padding-bottom: 7rem;
    }

    .services h2{
        margin-bottom: 3rem;
        font-size: 2.5rem;
    }

    .services-container{
        grid-template-columns: repeat(1,1fr);
    }

}