.services{
    background: var(--gradient-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.services p{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color-secondary);
    width: 60%;
}

.services h1{
    font-size: 4rem;
    font-weight: 700;
    color: transparent !important;
    background-clip: text;
    background-image: var(--gradient-primary);
}

.services-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.service-container{
    border: 1px solid var(--glass-border);
    background: var(--glass-bg);
    box-shadow: var(--glass-shadow);
    backdrop-filter: blur(4px);
    color: var(--text-color-secondary);
    border-radius: 2rem;
    transition: 0.3s ease;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    min-height: 360px;
}

.service-container h2{
    color: transparent !important;
    background-clip: text;
    background-image: var(--gradient-primary);
}

.service-icon{
    color: var(--main-color);
    margin-bottom: 1.5rem;
    background: var(--gradient-main-secondary);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    padding: 2rem;
    transition: all 0.3s ease;
}

.service-container p{
    width: 100% !important
}

.service-container:hover{
    transform: translateY(-10px);
}

.service-container:hover .service-icon {
    transform: scale(1.1);
}

.service-container ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.service-container li{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background: var(--glass-bg);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    box-shadow: var(--glass-shadow);
    backdrop-filter: blur(4px);
}

.service-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 300px;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.service-text h2{
    font-size: 2.5rem;
    font-weight: 500;
}

.service-text p{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
}

.services-link{
    border: 1px solid var(--glass-border);
    background: var(--glass-bg);
    box-shadow: var(--glass-shadow);
    backdrop-filter: blur(4px);
    border-radius: 2rem;
    padding: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-link h2{
    color: transparent !important;
    background-clip: text;
    background-image: var(--gradient-primary);
    font-size: 2.5rem;
    font-weight: 700;
}

@media (max-width: 995px) {

    .services p{
        font-size: 1.5rem;
        width: 100%;
    }

    .services h1{
        font-size: 2.5rem;
    }

    .services-container{
        grid-template-columns: repeat(1,1fr);
    }

    .services-btn{
        width: 100%;
        text-align: center;
    }

}